.popup {
  background-color: rgba($color-black, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2500;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  &__content {
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    width: 75%;
    border-radius: 3px;
    @include absCenter;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -webkit-column-count: 2;
    -ms-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 4rem;
    -ms-column-gap: 4rem;
    -moz-column-gap: 4rem;
    -o-column-gap: 4rem;
    column-gap: 4rem;

    -webkit-column-rule: 1px solid $color-grey-dark-2;
    -ms-column-rule: 1px solid $color-grey-dark-2;
    -moz-column-rule: 1px solid $color-grey-dark-2;
    -o-column-rule: 1px solid $color-grey-dark-2;
    column-rule: 1px solid $color-grey-light-2;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      display: inline-block;
      font-size: 3rem;
      text-decoration: none;
      line-height: 1;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
