@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600px:    Phone
600-900px:  Tablet Portrait
900- 1200px: Tablet Landscape
1200 - 1800px: Desktop
1800+: Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em => 16px
*/
@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } @else if ($breakpoint == tab-port) {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } @else if($breakpoint == tab-land) {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  } @else if($breakpoint == big-desktop) {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
